﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Inc.</h1>
    <p class="lead">Welcome to Montgomery Venture Company. We proudly presents to you a modern Web Teller machine! Following text bellow, by inconsistency, is in polish.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Załóż konto</h2>
        <p>
            Dla klientów nieposiadających jeszcze konta w banku, którzy zdecydowali się skorzystać z usług MVC Ltd.
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Zarejestruj się &raquo;") ,"Register", "Account",null, new {@class="btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Zaloguj się</h2>
        <p>Jeżeli jesteś już naszym klientem, możesz przejść do strony logowania.</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Zaloguj się &raquo;"), "Login","Account", null, new {@class="btn btn-default" } )</p> 
    </div>
    <div class="col-md-3">
        <h2>Dział reklamacji</h2>
        <p>
            Jeżeli masz uwagi odnośnie dostarczanej usługi, skontaktuj się z naszym konsultantem. Informacje zwrotne
        od naszych klientów pozwalają nam na bierząco poprawiać nasze usługi.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Skontaktuj się z nami!&raquo;</a></p>
    </div>
    <div>
        <h2>Przejdź to bankomatu</h2>
        <p>
            Wszystkie funkcjonalności dostępne przez internet, zawsze i wszędzie.
        All operations avaible, allways, everywhere.
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Przejdź dalej &raquo;"), "TellerMachine", "Home", null, new {@class="btn btn-default" });</p>
    </div>
</div>
You are using @Request.Browser.Browser browser, and that's ok! You can send us a tweet @@mvc.atm.

@{var amountsList = new List<decimal> { 0.22m, -22, -18, 0.65m, 18, -0.18m, }; }
<ul>
    @foreach (decimal amount in amountsList)
    {
        <li>@formatAmount(amount)</li>
        <text>plain text</text>
        @:plain text
    }
</ul>

@helper  formatAmount(decimal amount)
    {
     var color = "green";
     if (amount < 0)
        {
         color = "red";
        }
      <span style="color:@color">@String.Format("{0:c}", amount)</span>
    }
@section scripts{
     <script>var testing = true;</script>
    }